name: Main
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        subdir: [server]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install package
        run: |
          cd ${{ matrix.subdir }}
          yarn
      - name: Run lint
        run: |
          cd ${{ matrix.subdir }}
          yarn lint-check
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        subdir: [server]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: Install package
        run: |
          cd ${{ matrix.subdir }}
          yarn
      - name: Run test
        run: |
          cd ${{ matrix.subdir }}
          yarn test
  build:
    needs: [lint, test]
    strategy:
      fail-fast: false
      matrix:
        subdir: [server, frontend]
    uses: ./.github/workflows/docker-publish.yml
    with:
      subdir: ${{ matrix.subdir }}
